<!DOCTYPE html>
<html>
    <head>
        <title>SAVEETHA ENGINEERING COLLEGE </title>
    </head>
    <body>
        <h3>TIMETABLE</h3>
    </body>

</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SAVEETHA ENGINEERING COLLEGE </title>
   <style>
    table {
      width: 750px;
      border-spacing: 10px;
      border: 3px solid;
    }

     td, th {
      border: 3px solid;
      padding: 10px;
    }
  </style>
  
</head>
<body>
   
    <img src="/static/images/SAVEETHA LOGO.png" alt="saveethalogo" height="150" width="750">
   <table> 
    <tr>
      <th colspan="6">TIMETABLE</th>
    </tr>
    <tr>
      <th colspan="2" >Reference Number</th>
      <th>22008827</th>
      <th>Name</th>
      <th colspan="2">SHALINI.K</th>
    </tr>
    <tr>
      <td>Days</td>
      <td>1</td>
      <td>2</td>
      <td>Lunch Break</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>MONDAY</td>
      <td>19MA219-PRATHAB.H</td>
      <td>19AI414-OBED OTTO</td>
      <td></td>
      <td>19AL304-C PROGRAMMING-MAGITHA</td>
      <td>19MA211-GAYATHRI.M</td>
    </tr>
    <tr>
      <td>TUESDAY</td>
      <td>19EY701-SARANYA.V</td>
      <td>FREE SLOT</td>
      <td>MENTOR MEET</td>
      <td>19AI414 -OBED OTTO</td>
      <td>FREE SLOT</td>
    </tr>
    <tr>
      <td>WEDNESDAY</td>
      <td>19PH214-GANAPATHI RAMAN</td>
      <td>19EN101-SUNITHA.D</td>
      <td></td>
      <td>19AI414 -OBED OTTO</td>
      <td>FREE SLOT</td>
    </tr>
    <tr>
      <td>THURSDAY</td>
      <td>19MA211-GAYATHRI</td>
      <td>19MA219-PRATHAB.H</td>
      <td></td>
      <td>CODING PRACTICE</td>
      <td>19PH214-GANAPATHI</td>
    </tr>
    <tr>
      <td>FRIDAY</td>
      <td>19AL304-MAGITHA NIRMALA</td>
      <td>19MA211-GAYATHRI</td>
      <td></td>
      <td>SCOFT MEETING</td>
      <td>19EN101-SUNITHA</td>
    </tr>
  </table>
  <br><br>



  <ol  type="i">
      <li>19MA211-STATISTICS AND NUMERICAL METHODS </li>
      <li>19AI414-FUNDAMENTALS OF WEB APPLICATION DEVELOPMENT</li>
      <li>19MA219-TRANSFORMS AND ITS APPLICATION</li>
      <li>19AL304-PROGRAMMING IN C</li>
      <li>19EY701-SOFT SKILLS</li>
      <li>19PH214-PHYSICS FOR QUANTUM COMPUTING</li>
      <li>19EN101 COMMUNICATIVE ENGLISH</li>
  </ol>
</body>
</html>